<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="font-size: 13px;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current"><a routerLink="">Dashboard</a></li>
        <li routerLinkActive="active current"><a routerLink="/customer">Customers</a></li>
        <li routerLinkActive="active current"><a routerLink="/product">Products</a></li>
        <li routerLinkActive="active current"><a routerLink="/order">Orders</a></li>
        <button type="submit"  class="btn btn-primary pull-right px-4" (click)= "logOut()">LogOut</button>
      </ul>
    </div>
  </nav>
